.root {
  max-width: 800px;
  margin: auto;
  padding: 1em 1em 5em;
  align-items: center;
  justify-content: center;
}

.search > * {
  width: 100%;
  
}

.country, .category > * {
  width: 45%;
  height: 50%;
  padding: 8px;
}

.search,.country, .category {
  margin-bottom: 1em;
}

.container{
  background-color: lightgray;
  padding: 20px;
}
