.root {
  max-width: 800px;
  margin: auto;
  padding: 1em 1em 5em;
}

.search > * {
  width: 100%;
  
}

.country, .category > * {
  width: 45%;
  height: 50%;
}

.search,.country, .category {
  margin-bottom: 1em;
}

.container{
  background-color: rgba(100, 100, 100, 1);
  width: 70%;
}
