.root {
  max-width: 800px;
  margin: auto;
  padding: 1em 1em 5em;
}

.search > * {
  width: 100%;
  
}

.country, .category > * {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.search,.country, .category {
  margin-bottom: 1em;
}
