.root {
  max-width: 800px;
  margin: auto;
  padding: 1em 1em 5em;
  align-items: center;
  justify-content: center;
}

.card {
    display: block;
    font-size: 30px;
    padding-right: 20px;
}

.tables {
    display: flex;
}

.description {
    font-size: 20px;
}
